<div class="container">
  <mat-card class="card-container">
    <div class="title-container">
      <mat-card-title class="login-title">Login</mat-card-title>
    </div>
    <mat-card-content>
      <div class="form-field">
        <mat-form-field>
          <input matInput placeholder="Email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('required')">O email é obrigatório</mat-error>
          <mat-error *ngIf="emailFormControl.hasError('pattern')">O email deve ter 11 caracteres numéricos antes do @ e 'academico.com' depois</mat-error>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field>
          <input matInput placeholder="Senha" [formControl]="senhaFormControl" type="password">
          <mat-error *ngIf="senhaFormControl.hasError('required')">A senha é obrigatória</mat-error>
          <mat-error *ngIf="senhaFormControl.hasError('minlength')">A senha deve ter pelo menos 6 caracteres</mat-error>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" [disabled]="!emailFormControl.valid || !senhaFormControl.valid"
          (click)="fazerLogin()" style="color: black;">Entrar</button>
      
      </div>
    </mat-card-content>
  </mat-card>
</div>
