.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    
  }
  
  .card-container {
    padding: 16px;
    background-color: rgb(123, 189, 155);

  }
  
  .title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    
  }
  
  .login-title {
    text-align: center;
    color: black;
  }

  .mat-raised-button {
    color: black;
  }

  .custom-button {
    color: red; /* Altere para a cor desejada */
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    color: black;
    
    
  }
  
  .form-field input::placeholder {
    text-decoration: underline;
    
  }

  .form-field input {
    color: black;
    
  }